/* Navigation section styles */
.masthead {
  padding: .5rem 5.5rem 1.5rem; }

.navbar-light .navbar-nav {
  text-transform: uppercase; }
  .navbar-light .navbar-nav .nav-item {
    border-bottom: 2px solid white; }
    .navbar-light .navbar-nav .nav-item:hover {
      box-sizing: border-box;
      border-bottom: 2px solid #a5173e; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    color: #000;
    font-weight: 600;
    padding: 1rem 2rem; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #000; }

.jumbotron {
  border-radius: 0;
  background: #fff url("../img/ipad.jpg") no-repeat center;
  background-size: cover;
  min-height: 340px; }
  .jumbotron h1 {
    color: #fff;
    margin-bottom: 40px; }
  .jumbotron button {
    color: #fff;
    background-color: #a5173e;
    text-align: center;
    border: none;
    padding: 13px 60px;
    font-size: 25px;
    font-weight: 600; }
    .jumbotron button:hover {
      opacity: 0.85;
      transition: all 200ms ease-in-out; }

.products {
  padding: 0 5.5rem; }
  .products .container {
    padding: 0; }
  .products img {
    height: 305px;
    width: 100%;
    display: block; }
