/** GENERAL STYLES */
.header,
.products,
.sales {
  max-width: 1500px; }

.btn-primary {
  color: #fff;
  background-color: #a5173e;
  padding: 13px 60px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 0; }
  .btn-primary:hover {
    background-color: #a53c5a; }
  .btn-primary:active {
    background-color: #a53c5a !important;
    border-color: #a53c5a !important; }
  .btn-primary:focus {
    box-shadow: none; }

/* Navigation section styles */
header {
  max-width: 1500px;
  margin: 0 auto; }
  header a {
    display: inline-block; }

.navbar {
  padding: 1.5rem 1rem; }

.navbar-light .navbar-nav {
  text-transform: uppercase; }
  .navbar-light .navbar-nav .nav-item {
    border-bottom: 2px solid white; }
    .navbar-light .navbar-nav .nav-item:hover {
      box-sizing: border-box;
      border-bottom: 2px solid #a5173e; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    color: #000;
    font-weight: 600;
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #000; }

.banner {
  background: url("../img/ipad.jpg") no-repeat center;
  background-size: cover;
  border-radius: 0; }

.jumbotron-heading {
  color: #fff;
  margin-bottom: 2rem; }

.card {
  border: none; }
  .card button {
    padding: 13px 30px; }
  .card h4 {
    margin-bottom: 2.5rem; }
  .card h6 {
    margin-bottom: 0.25rem; }

.card-body {
  position: relative; }

.card-img-top {
  width: 100%;
  height: 225px;
  display: block;
  border-radius: 0; }

.text-muted {
  font-weight: 600; }

.price {
  color: #a5173e;
  font-size: 2em;
  font-weight: 600;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem; }

.promo {
  background-color: #a5173e; }
  .promo .img-container {
    position: relative; }
  .promo .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: #a5173e;
    position: absolute;
    bottom: 30px;
    left: 30px; }
    .promo .circle span {
      position: relative;
      top: 12%;
      font-size: 35px;
      display: inline-block;
      width: 100%;
      text-align: center; }
  .promo .description {
    color: #fff;
    margin: 30px 0; }
    .promo .description h3 {
      margin-bottom: 30px; }
    .promo .description p {
      margin-bottom: 30px; }
      .promo .description p:last-child {
        margin-bottom: 0; }

.modal-header {
  border: none;
  padding: 0 1rem; }

.modal-content {
  min-height: 250px;
  border-radius: 10px; }

.close {
  font-size: 2rem; }

form {
  max-width: 100%; }
  form input,
  form button {
    height: 60px; }
  form input {
    width: 100%;
    background: #dedede;
    border: none;
    padding: 4%;
    font-size: 1.5em; }
  form button {
    cursor: pointer;
    color: #fff;
    background-color: #a5173e;
    width: 200px;
    position: relative;
    left: -5px;
    border: none; }

.error-msg {
  font-size: 20px;
  color: red; }

@media (max-width: 575.98px) {
  .promo .circle {
    width: 100px;
    height: 100px;
    bottom: 5px;
    left: 5px; }
  .promo .circle span {
    font-size: 30px;
    line-height: 1; }
  .modal-title {
    text-align: center;
    margin-bottom: 20px; }
  form button,
  form input {
    height: 46px; }
  form input {
    font-size: 18px; }
  .error-msg {
    display: block;
    margin-top: 15px; } }

@media (max-width: 575.98px) and (orientation: landscape) {
  .card {
    max-width: 80%;
    margin: 0 auto; }
  .promo .circle {
    bottom: 25px;
    left: 25px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .card {
    max-width: 60%;
    margin: 0 auto; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .card {
    max-width: 60%;
    margin: 0 auto; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card {
    max-width: 50%;
    margin: 0 auto; } }
