/* Navigation section styles */

header {
    max-width: 1500px;
    margin: 0 auto;

    a {
        display: inline-block;
    }
}

.navbar {
    padding: 1.5rem 1rem;
}

.navbar-light {
    .navbar-nav {
        text-transform: uppercase;

        .nav-item {
            border-bottom: 2px solid white;

            &:hover {
                box-sizing: border-box;
                border-bottom: 2px solid #a5173e;
            }
        }

        .nav-link {
            font-size: 1.2em;
            color: #000;
            font-weight: 600;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            &:hover {
                color: #000;
            }
        }
    }
}
