// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .promo .circle {
        width: 100px;
        height: 100px;
        bottom: 5px;
        left: 5px;
    }

    .promo .circle span {
        font-size: 30px;
        line-height: 1;
    }

    .modal-title {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        button,
        input {
            height: 46px;
        }
        input {
            font-size: 18px;
            
        }
    }
}

@media (max-width: 575.98px) and (orientation: landscape) {
    .card {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .promo .circle {
        bottom: 25px;
        left: 25px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
    .card {
        max-width: 60%;
        margin: 0 auto;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        max-width: 60%;
        margin: 0 auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
        max-width: 50%;
        margin: 0 auto;
    }
}