/** GENERAL STYLES */
.header,
.products,
.sales {
    max-width: 1500px;
}

.btn-primary {
    color: #fff;
    background-color: #a5173e;
    padding: 13px 60px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 0;

    &:hover {
        background-color: #a53c5a;
    }

    &:active {
        background-color: #a53c5a!important;
        border-color: #a53c5a!important;
    }

    &:focus{
        box-shadow: none;
    }

}

@import 'header';
@import 'jumbotron';
@import 'products';
@import 'promo';
@import 'modal';
@import 'mediaQueries';
